@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.fancy-normal {
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-color-fancy {
    background-color: #ecf0f4;
}
